[Unit]
Description=rw brightness OSD
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/rw-brightness-osd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
